click==7.1.2
click-option-group==0.5.1
-e git+git@github.com:markiewagner/sym_take_home.git@85aff26287fb11d0948972f634cf12e3456dd75d#egg=msr&subdirectory=msr_cli
requests==2.24.0
requests-file==1.5.1
requests-toolbelt==0.9.1
responses==0.10.15
tabulate==0.8.7
tldextract==2.2.3
urllib3==1.25.9
validator-collection==1.4.2
validators==0.18.1
xdg==4.0.1
